name: Build LaTeX document
permissions:
  contents: write
on: 
  push:
    tags:
      - "publish"
jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v4
      - uses: xu-cheng/texlive-action@v2
        with:
          scheme: full
          run: |
            pdflatex -interaction=nonstopmode main.tex
            bibtex main
            pdflatex -interaction=nonstopmode main.tex
            pdflatex -interaction=nonstopmode main.tex
            mv main.pdf reader-s4.pdf
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            reader-s4.pdf
